.env
*.pyc
__pycache__/
venv/
**/venv/
metaflow.s3.*
.metaflow/
*.DS_Store
*.log

# Ignore everything in .metaflowconfig
demo/metaflow-demo/.metaflowconfig/*

# Except these two files
!demo/metaflow-demo/.metaflowconfig/config_argo.json
!demo/metaflow-demo/.metaflowconfig/config_local.json
